# Week 8 Lab: Retail Sales Data Analysis using OOP and Pandas

### Description
You are working as a data analyst for a retail store. The store maintains sales data for its products, and
your task is to process, analyze, and generate reports using Object-Oriented Programming (OOP) and
Pandas.

## Part 0: Import modules/packages

In [1]:
import pandas as pd

## Part 1: Data Handling with Pandas (Basic)
- Load the dataset into a Pandas DataFrame.

In [13]:
df = pd.read_csv("sales_data_india.csv")

- Display the first few rows of the dataset.

In [17]:
# print(df.head())
df.head()

,OrderID,Product,Category,Quantity,PricePerUnit,TotalPrice,Date,CustomerID,City
0,1001,Laptop,Electronics,1,60000,60000,2024-01-01,C001,Mumbai
1,1002,Smartphone,Electronics,2,20000,40000,2024-01-02,C002,Delhi
2,1003,Jeans,Clothing,3,1500,4500,2024-01-03,C003,Bengaluru
3,1004,LED TV,Electronics,1,45000,45000,2024-01-04,C004,Hyderabad
4,1005,Kurta,Clothing,4,800,3200,2024-01-05,C005,Chennai

- Handle missing values (if any) by filling or removing them.

In [18]:
missing_values = df.isnull().sum()
print("Missing values per column:", missing_values[missing_values > 0]) # Display columns with missing values (if any)

Missing values per column: Series([], dtype: int64)